* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}

header {
    background: #BBBBBB;
    background-image: linear-gradient(to bottom, rgb(102, 102, 102), white);
    padding: 20px 0;
    min-width: 320px;
    min-height: 150px;
}

.caixa {
    position: relative;
    width: 940px ;
    margin: auto;
}

nav {
    position: absolute;
    display: inline;
    top: 110px;
    right: 0;
    padding-right: 35px;
    

    
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    color: orangered;
    text-decoration: none;
}

.banner {
    width: 100%;
    min-width: 50%;
    background-attachment: fixed;

}



.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-weight: bold;
    color: black;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p { 
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
    background-image: linear-gradient(to bottom, rgb(102, 102, 102), white);
    padding: 20px 0;
}

.conteudo-beneficios {
    width: 40%;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    vertical-align: top;
    display: inline-block;
    
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "★";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.247);
    
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

footer {
    text-align: center;
    color: white;
    background: url('bg.jpg');
    padding: 40px 0;
}


@media screen and (max-width: 760px) {
    
    nav {
        width: 200px;
        
    }

    nav ul {
        flex-direction: row;
        padding-left: 70px;
    }

    

    .principal {
        width: 350px;
    }

    .mapa, .beneficios, .mapa-conteudo, .video {
        
        width: auto;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}

