* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}

header {
    background: #BBBBBB;
    background-image: linear-gradient(to bottom, rgb(102, 102, 102), white);
    padding: 20px 0;
    padding: 20px 0;
    min-width: 1000px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
    padding-right: 35px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
    transition: 0.5s;
    
    
}

nav a:hover {
    color: orangered;
    text-decoration: none;
    

}

form {
    margin: 40px 0;
    padding-left: 30px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0  10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
    padding-left: 20px;
}

thead {
    background: rgba(89, 133, 133, 0.726);
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}








footer {
    text-align: center;
    color: white;
    background: url('bg.jpg');
    padding: 40px 0;
}

@media screen and (max-width: 760px) {
    
    nav {
        width: 200px;
        
    }

    nav ul {
        flex-direction: row;
        padding-left: 70px;
    }

    main {
        
        width: auto;
        margin: 0 2%;
    }

   
}